# python stuff
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
.env
.venv
venv/
.idea/
**/__pycache__

# meta files
.vscode/
.DS_Store

# output data
datasets/
data/*.jsonl
outputs/
checkpoints/
source_images/
source_images_old/
output_json/

# large files
*.tar.gz
