# python stuff
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
.env
.venv
venv/
.idea/

# meta files
.vscode/
.DS_Store

# output data
data/*.jsonl
outputs/
checkpoints/
source_images/checkpoints_time_scene/
*.pt
